<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Generated Suite">
  <test verbose="1" name="ASV tests" annotations="JDK">
    <groups>
      <run>
        <include name="unit"/>
        <exclude name="failedtests"  />
      </run>
    </groups>
    <!--<classes>-->
      <!--<class name="com.nurflugel.SomeTest"/>-->
    <!--</classes>-->
      <packages>
            <package name="com.nurflugel.*" />
      </packages>
  </test>



</suite>